<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords"
    content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template" />
  <meta name="description"
    content="Matrix Admin Lite Free Version is powerful and clean admin dashboard template, inpired from Bootstrap Framework" />
  <meta name="robots" content="noindex,nofollow" />
  <title>Product Admin </title>
  <!-- Custom CSS -->
  <link href="../dist/css/style.min.css" rel="stylesheet" />

  <style>
    .page-wrapper {
      background-color: rgb(11, 23, 57);
      ;
    }

    body {
      background: rgb(11, 23, 57);
      ;

    }

    .page-wrapper {
      margin-top: 20px;
      margin-right: 20px;
    }

    .card {
      background-color: #012b50;
    }

    .card img {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
  </style>
</head>

<body>
  <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
    data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

    <%- include('./partials/header') %>


      <%- include('./partials/aside') %>

        <div class="page-wrapper flex-grow-1 p-6">
          <% if (messages && messages.length> 0) { %>
            <% messages.forEach(message=> { %>
              <% if (message==="ProductAdded" ) { %>
                <div class="alert alert-info">New Product Added Successfully</div>
                <% } %>
                  <% if (message==="deleteProduct" ) { %>
                    <div class="alert alert-info">Deleted Product Successfully</div>
                    <% } %>
                      <% if (message==="UpadteProduct" ) { %>
                        <div class="alert alert-info">Product Updated Successfully</div>
                        <% } %>
                          <% }) %>
                            <% } %>

                              <% if (messages && messages.length> 0) { %>
                                <% messages.forEach(message=> { %>
                                  <% if (message==="CatAdded" ) { %>
                                    <div class="mt-4 p-2 bg-green-200 text-green-800 rounded">New Category Added
                                      Successfully</div>
                                    <% } %>
                                      <% if (messages && messages.length> 0) { %>
                                        <% messages.forEach(message=> { %>
                                          <% if (message==="subCatAdded" ) { %>
                                            <div class="mt-4 p-2 bg-green-200 text-green-800 rounded">New SubCategory
                                              Added Successfully</div>
                                            <% } %>
                                              <% if (message==="extCatAdded" ) { %>
                                                <div class="alert alert-info">New ExtraCategory Added Successfully</div>
                                                <% } %>
                                                  <% }) %>
                                                    <% } %>
                                                      <% }) %>
                                                        <% } %>

                                                          <div class="row">
                                                            <% ProductData.forEach((product)=> { %>
                                                              <div class="col-md-4">
                                                                <div class="card">
                                                                  <div class="card-body">
                                                                    <img src="<%= product.image %>" alt="img"
                                                                      class="img-fluid mb-3">
                                                                    <h4 class="card-title text-white">
                                                                      <%= product.productname %>
                                                                    </h4>
                                                                    <h5 class="card-text text-white">
                                                                      <%= product.productprice %>
                                                                    </h5>
                                                                    <p class="card-text text-white">
                                                                      <%= product.description %>
                                                                    </p>
                                                                    <a href="/product/editProduct/<%= product._id %>"
                                                                      class="btn"
                                                                      style="background-color: 	#DCAE96; color: #000; font-weight: 700">Edit</a>
                                                                    <a href="/product/delete/<%= product._id %>"
                                                                      class="btn"
                                                                      style="background-color:#ADD8E6; color: #000; font-weight: 700;">Delete</a>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                              <% }) %>
                                                          </div>
        </div>

        <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
        <script src="../dist/js/sidebarmenu.js"></script>
        <script src="../dist/js/custom.min.js"></script>
</body>

</html>